* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
  }
  
  header {
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(0,162,255,1) 0%, rgba(0,122,255,1) 100%);
    color: white;
    display: flex;
    align-items: start;
    justify-content: flex-start; /* Cambiado de center a flex-start */
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px; /* Agregado para separar un poco del borde izquierdo */
  }
  
  
  .dropdown {
    display: inline-block;
    position: relative;
    z-index: 3;
    margin: 20px;
  }
  
  button {
    background-color: #00a2ff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 162, 255, 0.2);
  }
  
  button:hover {
    background-color: #008ace;
    transform: translateY(-2px);
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 220px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    padding: 10px;
    overflow-y: auto;
    z-index: 4;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #333;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-options a:hover {
    color: #fff;
    background-color: #00a2ff;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    border: 2px solid #00a2ff;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  }
  
  li {
    list-style-type: none;
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li:hover {
    background-color: #f0f8ff;
  }
  
  a {
    font-size: 20px;
    color: #007acc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #005b99;
  }
  

#report-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #report-buttons form {
    margin-bottom: 10px;
  }
  
  #report-buttons input[type="submit"] {
    background-color: #00a2ff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 162, 255, 0.2);
    width: 300px;
    text-align: center;
  }
  
  #report-buttons input[type="submit"]:hover {
    background-color: #008ace;
    transform: translateY(-2px);
  }
  